<form method="POST" action="">
    <label for="name">Display Name</label>
    <input title="name" placeholder="Display Name">
    <input type="submit" class="button" value="Submit">
</form>
<div id="comments">
    <%= @post['comments'] %>
</div>