<!DOCTYPE html>
<html>
<head>
  <title>Grindstone</title>
  <%= stylesheet_link_tag    "grindstone/application", media: "all" %>
  <%= javascript_include_tag "grindstone/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
